body {
    background-color: #0c4461
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: #a8a8a8;
    text-align: center;
}


a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

#basiclink {
    text-align: center;
}

#basicpara1 {
    color: white;
    padding-left: 100px ;
    padding-right: 100px ;
    text-align: left;
}

#codetitle {
    color: #a8a8a8;
    padding-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
}

#codedescription {
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
}

#centeralign {
    text-align: center;
}

#slickborder {
    color: white;
    border-bottom: solid;
    padding-top: 25px;
}

#footnote {
    background-color: #062433;
    padding-top: 25px;
    padding-bottom: 50px;
}
